@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html {
  scroll-behavior: smooth;
}
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: black;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  font-family: 'Mr Dafoe';
  color: black;
  font-weight: 100;
  font-size: 50px;
}

@media screen and (max-width: 767px) {
  .nav__logo {
    font-size: 30px;
  }
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.show {
  right: 0;
}

.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
  height: 100vh;
}

.home__data {
  align-self: center;
}

@media (max-width: 768px) {
  .home {
    position: relative;
    row-gap: 5rem;
    padding: 0 0 5rem;
    height: 100vh;
  }
  .flex__style {
    display: flex;
    height: 100%;
  }
  .home__img {
    transform: translateY(-65%);
  }
} .home__social {
  padding-top: 0;
  padding-bottom: 2.5rem;
  flex-direction: column;
  align-self: flex-end;
}

@font-face {
  font-family: 'ABeeZee';
  font-style: normal;
  font-weight: 400;
  src: local('ABeeZee'), local('ABeeZee-Regular'), url(http://themes.googleusercontent.com/static/fonts/abeezee/v1/JYPhMn-3Xw-JGuyB-fEdNA.ttf) format('truetype');
}

.footer {
  color: black;
  padding: 2rem 1rem;
  font-family: 'ABeeZee', sans-serif;
  text-align: center;
}
.bold-name {
  color: black;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__title-color {
  color: var(--first-color);
  font-family: 'Mr Dafoe';
  font-weight: 100;
}

.home__social {
  display: flex;
  flex-direction: column;
}

.home__social-icon {
  /* width: max-content; */
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home__social-icon:hover {
  color: var(--first-color);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}

.home__blob {
  fill: var(--first-color);
}

.whatsapp-button i {
  font-size: 1.2rem;
}

.whatsapp-button:hover {
  background-color: #1f1f1f;
}


.home__blob-img {
  width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-11%, -19%);
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

.work__container {
  row-gap: 2rem;
}

.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: .5rem;
  overflow: hidden;
}

.work__img img {
  transition: 1s;
}

.work__img img:hover {
  transform: scale(1.1);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }

  .home__img {
    width: 200px;
  }
}

@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }

  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home__social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home__img {
    width: 300px;
    bottom: 25%;
  }

  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    padding-top: 0;
  }

  @keyframes blink {
    0%, 100% {
        border-color: goldenrod;
    }
    50% {
        border-color: black;
    }
}

.down-arrow {
    position: fixed;
    bottom: 20px;
    right: 1%;
    transform: translateX(-50%);
    cursor: pointer;
}

.arrow {
    width: 30px;
    height: 30px;
    border: solid #333;
    border-width: 0 3px 3px 0;
    display: inline-block;
    transform: rotate(45deg);
    margin-bottom: 5px;
    animation: blink 1.5s infinite;
    transition: transform 0.3s, box-shadow 0.9s;
}


  .arrow:hover {
    border-width: 0 6px 6px 0;
    color: rgb(78, 63, 63);
  }
  .hidden {
    display: none;
  }

  .nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .nav__link {
    color: var(--second-color);
  }

  .home {
    padding: 8rem 0 2rem;
  }

  .home__img {
    width: 400px;
    bottom: 10%;
  }

  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 450px;
  }
}

.home__social-icon {
  position: relative;
  display: inline-block;
}

.home__social-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  font-size: 12px;
  transition: opacity 0.3s;
  z-index: 10;
}

.home__social-icon:hover::after {
  opacity: 1;
}
.resume-button-container {
  display: none;
  margin-top: 0.75rem;
  cursor: pointer;
  width: 50%;
  animation: floatUp 1s ease-out backwards;
}

@media (min-width: 768px) {
  .resume-button-container {
    display: block;
  }
}
.resume__mobile {
  display: none;
}

@media (max-width: 767px) {
  .resume__mobile {
    display: block;
    margin-top: 1rem;
  }

  .resume-button__mobile {
    background-color: #4488f5;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
  }

  .resume-button__mobile:hover {
    background-color: #4488f5
  }}

.resume-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* padding: 0.75rem 0; */
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 0.375rem;
  color: white;
  background-color: #3b82f6;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: #bfdbfe;
}

@media (min-width: 768px) {
  .resume-button {
    padding: 1rem 0;
    font-size: 1.125rem;
  }
}

.tech-stack-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
  height: 70vh;
}

@keyframes floatUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tech-item {
  width: 12rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
  padding: 0 1rem;
  margin: 1rem;
  background-color: #f9fafb;
  border-radius: 0.5rem;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.3s ease, opacity 0.3s ease;  /* Consolidated transition */
}

.tech-item.visible {
  animation: floatUp 0.6s ease-out forwards;
}

.tech-item:hover {
  transform: scale(1.1);
}

.tech-item img {
  width: 2.5rem;
  flex-shrink: 0;
}

.tech-item h4 {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.more-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #444;
  background: #f3f4f6;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.more-projects:hover {
  background-color: #e5e7eb;
  transform: scale(1.1);
  color: #5374a9;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: opacity 0.4s ease;
}
/* .project-card img:hover {
  transform: scale(1.1);
} */

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  padding: 1rem;
  transition: opacity 0.4s ease;
  text-align: center;
}

.project-title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.project-buttons .btn {
  padding: 0.4rem 1rem;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
}
.project-buttons .btn:hover {
  color: white;
  background-color: #2d2b2b;
  transition: 0.4s;
}

.project-card:hover img {
  transform: scale(1.1);
  opacity: 0.3;
  transition: 1s;
}

.project-card:hover .project-overlay {
  opacity: 0.8;
}
